@model WebflixApplication.Models.FILM

@{
    ViewBag.Title = "ShowFilm";
}

<div id="main-container" class="bg-dark">
	<div class="padding-sm">
		<div class="row">
			<div class="col-md-12">
				<h1 class="headline dark text-white">
					@Model.TITRE
					<span class="line"></span>
				</h1>
                
                <div class="row">
                    <div ><img class="col-md-2" src="@Model.POSTER" alt="Image 1"></div>
                    <div class="col-md-6">
                        <p>
                            <h2 class="text-white">@Model.SCENARIO</h2>
                        </p>
                        <p>
                            <ul>
                                <li class="text-white film-details">Nombre de copie disponible: @Model.COPIEs.Count(c => c.DISPONIBLE = true)</li>
                                <li class="text-white film-details">Pays de production: @foreach (var pays in @Model.FILMPAYS) {<span> @pays.PAY.NOM, </span> }</li>
                                <li class="text-white film-details">Langue originale: @Model.LANGUEORIGINALE </li>
                                <li class="text-white film-details">Date de parution: @Model.DATEPARUTION</li>
                                <li class="text-white film-details">Genre: @foreach (var genre in @Model.FILMGENREs) {<span> @genre.GENRE.TITRE, </span>}</li>
                                <li class="text-white film-details">Acteur:  <ul>@foreach (var acteur in @Model.ROLEs) {<li>@acteur.PERSONNESFILM.PRENOM @acteur.PERSONNESFILM.NOM</li> }</ul></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-default btn-rent-movie" href="@Url.Action("RentMovie", "Film", new { idFilm = Model.IDFILM, idClient = 200 })" role="button">Louer le film</a>
                    </div>
                </div>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.padding-sm -->
</div><!-- /main-container -->